html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 30px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes bigredbutton {
    from {background-color: red; width:100px;}
    to {background-color: #330000;}
}

/* Standard syntax */
@keyframes bigredbutton {
    from {background-color: red;}
    to {background-color: #330000;width:300px;}
}
/*
* Transition 

 */
.submit-button {
  width:100px;
  -webkit-transition: width 2s; 
  transition: width 2s;

   
}
.submit-button:hover {
  width:200px;
}

.cancel-button {
  -webkit-animation-name: bigredbutton; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: bigredbutton;
    animation-duration: 4s;
}


